Makefile
Makefile.Debug
Makefile.Release
build
build-*
release-*
*pro.user*
*~

src/toplevel/version.tmp
src/utils/mtpsd/bin
src/utils/mtpsd/lib
*stackdump
object_script*
.qmake.stash

*debhelper*
debian/eln
debian/files
debian/*.substvars

