Makefile
Makefile.Debug
Makefile.Release
build
build-*
release-*
*pro.user*
*~
#*#
.#*
*.so

src/toplevel/version.tmp
src/utils/mtpsd/bin
src/utils/mtpsd/lib
*stackdump
object_script*
.qmake.stash

*debhelper*
debian/vscope
debian/files
debian/*.substvars

__pycache__
*.os
.sconsign.dblite
releases
