[Desktop Entry]
Name=VScope
GenericName=VScope
Comment=Data acquisition and analysis package
Exec=vscope
Terminal=true
Type=Application
Categories=Science
Icon=/usr/share/pixmaps/vscope.svg

